.wrapper
{
  display: block;
  border:1px solid grey;
  background: rgb(204, 153, 153);
  margin-left:auto;
  margin-right:auto;
  width: 40%;
  padding:10px;
  font-family: sans-serif;
  text-align: center;
}
table{
    width: 70%;
}
thead{
    height: 50px;
}
thead,td
{
    border: 2px solid black;
}